<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edit Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <link rel="icon" href="{% static 'images/allmight-icon.jpg' %}">

</head>
<body>
    <h2>Hey "{{profile.username}}" Edit Your Info Here </h2>
    <a class="img-links" href="/home"><img class="home-button" src="{% static 'images\new-home-button.png' %}" width="50" height="50"></a>
    <div class="edit-form">
        <div class="profile-pic">
            <form action="/pic_update" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <img class="p-pic" src="{{profile.profile_pic.url}}" alt="{{ user.username }}" width="200" height="300">
                <input type="file" name="profile_pic" id="profile_pic" value="{{user.profile_pic}}">
                <div>
                    <button class="profile-pic-button" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
        <form action="/edit" method="POST">
            {% csrf_token %}
            <div class="user-info">
                <div class="field">
                    <input class="input-field-margin" type="text" min="2" required name="username" value="{{profile.username}}" >
                </div>
                <div>
                    <input type="text" name="email" required  value="{{profile.email}}" >
                </div>
                <div>
                    <button type="submit">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
    <script src='main.js'></script>
</body>
</html>