<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/solo_img.css' %}">
</head>
<body>
    <h2>I am now viewing the solo image of creator</h2>
    <div class="info">
        <div class="character-info">
            <img src="{{char.pic.url}}" width="259" height="262">
            <ul>
                <li>Name: {{char.name}}</li>
                <li>DOB: {{char.date_of_birth}}</li>
                <li>Powers: {{char.powers}}</li>
            </ul>
        </div>
    <div class="character-bio">
        <li>Bio: {{char.bio}}</li>
    </div>
    <script src='main.js'></script>
</body>
</html>