<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
</head>
<body>
    
    <div>
        <h2>Login</h2>
        <form action="/login" method="POST">
            {% csrf_token %}
            <div class="field" >
                <label class="email-push" for="username">UserName:</label>
                <input type="username" name="username">
            <div class="field" >
                <label for="password">Password:</label>
                <input type="password" name="password" value="Password Here" >
            </div>
            <div>
                <button type="submit">login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>