<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <h2>you are now on logged in page</h2>
    <div>
        <ul>
            <li>Logout</li>
            <li>My Profile</li>
        </ul>
    </div>
    <div class="info">
        <div class="character-info">
            <img>
            <ul>
                <!-- forloop for character info -->
                <li></li>
            </ul>
        </div>
        <div class="save-button">
            <img>
        </div>
    </div>
    <div class="info-2">
        <div class="character-bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eum debitis quaerat commodi consectetur aspernatur ratione enim magnam omnis fuga excepturi corrupti sed illo corporis quisquam quos, nam voluptates aliquam!</p>
        </div>
        <div class="next-character">
            <img>
        </div>
    </div>
    <script src='main.js'></script>
</body>
</html>