<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div>
        <h2 class="user-name">"{{user.username}}"</h2>
        <ul class="nav-links">
            <li><a href="/logout"><img src="{% static 'images\logout-icon.png' %}" width="50" height="50"></a></li>
            <li><a href="/user_profile/{{user.id}}"><img class="p-pic" src="{{user.profile_pic.url}}" alt="{{ user.username }}" width="50" height="50"></a></li>
            <li><a href="/creation"><img class="home-button"  src="{% static 'images\create_char.png' %}" width="50" height="50"></a></li>
        </ul>
    </div>
    <div class="info-slides">
        <div class="mySlides fade">
            {% for i in posts  %}
            <div class="group-info">
                <img class="shadow" src="{{i.pic.url}}" alt="{{i.name}}" width="350" height="375" >
                <ul>
                    <div class="info-background-img" >
                        <li>My name is: {{i.name}}</li>
                        <br>
                        <li>My Powers are: {{i.powers}}</li>
                        <br>
                        <li class="bio">Bio: {{i.bio}}</li>
                        <li>DOB: {{i.date_of_birth}}</li>
                        <br>
                        <li><a>Made By:<a href= "/creator_profile/{{i.creator.id}}">{{i.creator.first_name}}</a></li>
                    </div>
                    {% if i  in user.save_post.all %}
                    <ul class="icon-list">
                        <li><a class="icons" href="/unsave_art/{{i.id}}"><img src="{% static 'images\unsave_icon.png' %}" width="50" height="50"></a></li>
                        {% else %}
                        <li><a class="icons" href="/save_art/{{i.id}}"><img src="{% static 'images\save_button.png' %}" width="50" height="50"></a></li>
                        {% endif %}
                        {% endfor %}
                        {% if posts.has_previous %}
                        <a class="unkown" href="?page=1"><< Oldest Post</a>
                        <a href="?page={{ posts.previous_page_number }}"><img class="rotate-this" src="{% static 'images\arrow.png' %}" width="50" height="50"></a>
                        {% endif %}
                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number}}"><img src="{% static 'images\arrow.png' %}" width="50" height="50"></a>
                        <a class="unkown" href="?page={{ posts.paginator.num_pages }}">Newest Post >>></a>
                        {% endif %}
                    </ul>
                </ul>
    </div>
</body>
</html>