<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <div class="general-links">
        <ul class="links">
            <li class="li-links"><a class="img-links" href="/profile/{{profile.id}}/edit"><img class="home-button"  src="{% static 'images\edit-button.png' %}" width="50" height="50"></a></li>
            <li class="li-links"><a class="img-links" href="/logout"><img src="{% static 'images\logout-icon.png' %}" width="50" height="50"></a></li>
            <li class="li-links"><a class="img-links" href="/home"><img class="home-button"  src="{% static 'images\new-home-button.png' %}" width="50" height="50"></a></li>
            <li class="li-links"><a class="img-links" href="/saved_art"><img src="{% static 'images\save_button.png' %}" width="60" height="70"></a></li>
        </ul>
    </div>
    <div class="profile-pic">
        <img class="p-pic"  src="{{profile.profile_pic.url}}" + {{user.profile_pic}} alt="{{ user.username }}" width="300" height="400">{{ user.profile_pic.url }}</img>
    </div>
    <h1 class="user-name" >"{{ profile.username }}"</h1>
    <h3>My Created Characters</h3>
    <div class="logged-in-user-art"> 
        {% for i in profile.created_characters.all %}
            <div class="characters">
                <img class="char-pic" src="{{i.pic.url}}" alt="{{i.name}}" width="250" height="300">
                <ul>
                    <li>{{ i.name }}</li>
                    <br>
                    <li>{{ i.powers }}</li>
                    <br>
                    <li class="bio" >{{ i.bio }}</li>
                    {% if i.creator.id == request.session.user_id %}
                    <form method="POST" action="/delete/{{i.id}}">
                        {% csrf_token %}
                        <button type="submit">Delete This Character</button>
                    </form>
                {% endif %}
                </ul>
            {% endfor %}
        </div>
    <script src='main.js'></script>
</body>
</html>