<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div>
        <h1>Powers of Creations</h1>
        <form method="post" action="register">
            {% csrf_token %}
            date of birth: <input type="date" name="">
        </form>
    </div>
    <div>
        <form method="post" action="login">
            {% csrf_token %}
        </form>
    </div>
</body>
</html>